/* Comment*/



#winterpic {
    margin: auto; /*Midtstille bildet*/
    border-radius: 50%;   
    margin-bottom: 100px; /* Få med hele bildet (ikke bak footer)*/
}

.main {
    text-align: center; 
}



.footer {
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #efefef;
    text-align: center;
}

.footer p {
    font-family: sans-serif;
    font-size: 12px; 
}
