html {
    position: relative; 
    min-height: 100%; 
}

body {
    background-color: lightgray;
    margin:0;
    padding:0;
    min-height: 100%; 
    position: relative; 
} 

h1 {
    color:#FFFFFF;
    width: 100%; 
    text-align: center; 
    text-shadow: 2px 2px 2px #AFAFAF;   
    font-family: 'Raleway';
    font-weight: 'Light';
    font-size: 60px; 
}

header {
    margin-top: 30px; 
}

#winterpic {
    height: 300px; 
    border-radius: 50%;
    display:block;
    margin:auto;
}
.icons {
    padding: 40px; 
    
    
}
#instagram {
    height: 50px; 
    margin: auto; 
    display: block; 
}

#linkedin {
        height: 50px; 
    margin: auto; 
    display: block; 
}


.footer {
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    left: 0;
    width: 100%; 
    background-color: #efefef;
    text-align: center;
}

.footer p {
    font-family: sans-serif;
    font-size: 12px; 
}